<h1 class="page-title">Details for Product: {{product.name}}</h1>

<div class="product">
  <img src="{{product.image}}" alt="{{product.name}}">
  <h3>{{product.name}}</h3>
  <p>${{product.price}}</p>
  <p>{{product.description}}</p>
</div>

<div class="actions">
  <a href="/products" class="button">Back</a>

  <a href="/products/edit/{{product._id}}" class="button">Edit</a>

  <form action="/products/delete/{{product._id}}" method="POST">
    <input type="submit" value="Delete" class="button alert">
  </form>
</div>