<div class="home-header">
  {{#if search}}
    <h1>Search results for: <span>{{this.search}}</span></h1>
  {{else}}
    <h1>Public <span>Thoughts</span></h1>
  {{/if}}

  <form action="/thoughts" method="GET">
    <input type="text" name="search" placeholder="Search a thought">
    <input type="submit" value="Search" class="button">
  </form>

  <div class="order-container">
    <span>Order by:</span>
    <form action="/thoughts" method="GET">
      <input type="hidden" name="search" value="{{this.search}}">
      <input type="hidden" name="order" value="new">
      <button type="submit"><i class="bi bi-arrow-up"></i></button>
    </form>
    <form action="/thoughts" method="GET">
      <input type="hidden" name="search" value="{{this.search}}">
      <input type="hidden" name="order" value="old">
      <button type="submit"><i class="bi bi-arrow-down"></i></button>
    </form>
    <a href="/thoughts">Clear</a>
  </div>
</div>

<div class="thoughts-container">
  {{#each thoughts}}
    <figure>
      <blockquote>"{{this.title}}"</blockquote>
      <figcaption>by <span>{{this.User.name}}</span></figcaption>
    </figure>
  {{/each}}

  {{#if emptyThoughts}}
    <p>No thoughts found.</p>
  {{else}}
    <p>{{thoughtsCount}} thoughts found.</p>
  {{/if}}
</div>